.games-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.game-card {
  position: relative;
  width: calc(50% - 10px); /* 2 sütun düzeni */
  max-width: 400px;
  height: 250px; /* Sabit yükseklik */
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-image {
object-fit: contain;
  display: block;
  border-radius: 10px;
}
.game-buttons {
  display: flex;
  gap: 10px;
}

.game-info button {
  flex: 1; /* Butonların eşit genişlikte olması için */
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.game-card:hover .game-info {
  opacity: 1;
}
.game-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.game-info p {
  font-size: 18px;
  font-weight: 600;
  color: #f4b400; /* Altın sarısı fiyat vurgusu */
  margin-bottom: 15px;
}

.game-info button {
  background: rgba(255, 255, 255);
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.game-info button:hover {
  background: rgba(255, 255, 255);
  
  transform: scale(1.1);
}

.game-info button svg {
  font-size: 22px;
  color: rgb(255, 0, 0);

}


/* Responsive: Küçük ekranlarda kartlar 1 sütun olacak */
@media (max-width: 768px) {
  .game-card {
    width: 100%;
  }
}
